spring.datasource.url=jdbc:postgresql://localhost:5432/mapa_financeira
spring.datasource.username=postgres
spring.datasource.password=SUA_SENHA_AQUI

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

gemini.api.key=SUA_CHAVE_GEMINI_AQUI
